@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Josefin+Sans:400');


body {
  background: #FFFFFF;
  text-align: center;
  font-size: 1em;
}

.welcome {
  @include span-columns(12);

  .menu {
    @include span-columns(8);
    @include shift(2);
    margin-top: 25px;
    position: fixed;
    z-index: 100;
    background: #FFF;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;

    @include media($mobile) {
      @include span-columns(8);
      @include shift(0);
    }

    .logo {
      @include position(relative);
      z-index: 100;

      img {
        @include margin(0 0 1em 2em);
        @include size(200px auto);
        float: left;

        @include media($mobile) {
        }
      }
    }

    ul {
      font-family: $heading-font-family;
      @include margin(6px);

      li {
        @include display(inline-block);
        @include padding(0 0 0 2em);
        vertical-align: middle;
        font-size: 0.9rem;
        padding-bottom: 2px;
        width: 145px;

        a {
          color: #888;

          &:hover, &:active {
            color: $blue;
            font-weight: bold;
          }
        }
      }
    }

    .wedding_date {
      img {
        @include size(175px auto);
      }
    }
  }

  .landing {
    @include span-columns(8);
    @include shift(2);
    margin-top: 90px;

    @include media($mobile) {
      @include span-columns(7);
      @include shift(0.5);
      margin-top: 120px;
    }

    img {
      width: 100%;
    }

    .wedding_date {
      font-family: $heading-font-family;
      float: right;
      font-size: 2rem;
      z-index: 10;
      position: relative;

      @include media($mobile) {
        font-size: 1.4rem;
      }
    }
  }

  .save_the_date {
    z-index: 10;
    position: relative;

    img {
      @include span-columns(5);
      @include shift(3.5);
      margin-top: -11em;

      @include media($mobile) {
        @include span-columns(4);
        @include shift(2);
        margin-top: -18%;
      }
    }
  }

  .banner {
    @include span-columns(7);
    @include shift(2.5);
    @include margin(-8em 0 0 26.32451%);
    z-index: 0;

    @include media($mobile) {
      @include span-columns(6);
      @include shift(1);
      @include margin(-13% 0 0 21.94733%);
    }

    .component_01 img {
      @include display(inline-block);
      @include span-columns(7);
    }

    .component_02 img {
      @include display(inline-block);
      @include span-columns(5);

      @include media($mobile) {

      }
    }
  }

  .venue {
    @include span-columns(8);
    @include shift(2);
    margin-top: 3em;

    .header_link {
      color: #000;

      &:hover, &:active {
        color: $blue;
      }
    }

    iframe {
      margin-top: 2em;

      @include media($mobile) {
        width: 100%;
      }
    }

    .accommodations {
      @include span-columns(7);
      @include shift(2.5);
      margin-top: 2em;
      text-align: left;

      ul {
        li {
          list-style-type: circle;
          margin-left: 2em;
          margin-bottom: .5em;
        }
      }

      @include media($mobile) {
        @include span-columns(6);
        @include shift(1);
      }
    }

    @include media($mobile) {
      @include span-columns(8);
      @include shift(0);
    }
  }

  .our_story {
    @include span-columns(6);
    @include shift(3);
    border-top: 1px double #000;
    padding-top: 3em;
    font-family: $base-font-family;
    text-align: left;
    margin-top: 4em;
    margin-bottom: 3em;

    @include media($mobile) {
      @include span-columns(7);
      @include shift(0.5);
      margin-bottom: 1em;
    }
  }

  .photos {
    @include span-columns(6);
    @include shift(3);
    border-top: 1px double #000;
    padding-top: 3em;
    margin-top: 4em;
    margin-bottom: 3em;

    @include media($mobile) {
      @include span-columns(7);
      @include shift(0.5);
      margin-bottom: 1em;
    }
  }

  .rsvp {
    @include span-columns(6);
    @include shift(3);
    border-top: 1px double #000;
    padding-top: 3em;
    margin-top: 4em;
    margin-bottom: 3em;

    .rsvp_button {
      @include span-columns(8);
      @include shift(2);
      @include transition(all 0.25s ease);
      border-radius: 0px;
      background: #FFF;
      border: 2px solid $blue;
      color: #000;
      padding: 25px 50px;
      box-shadow: $blue 10px 12px;
      margin-top: 2em;

      &:hover, &:active {
        background: $blue;
        color: #FFF;
        box-shadow: 0px 0px;
      }
    }

    @include media($mobile) {
      @include span-columns(7);
      @include shift(0.5);
      margin-bottom: 1em;
    }
  }

  .registry {
    @include span-columns(6);
    @include shift(3);
    border-top: 1px double #000;
    padding-top: 3em;
    margin-top: 4em;
    margin-bottom: 3em;

    .registry_wrapper {
      @include span-columns(8);
      @include shift(2);
      margin-bottom: 3em;

      img {
        @include transition(all 0.25s ease);
        background: #FFF;
        border: 2px solid $blue;
        box-shadow: $blue 10px 12px;
        margin-top: 2em;
        padding: 25px;

        &:hover, &:active {
          color: #FFF;
          box-shadow: 0px 0px;
          border-width: 3px;
        }
      }
    }

    @include media($mobile) {
      @include span-columns(7);
      @include shift(0.5);
      margin-bottom: 1em;
    }
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }
  h2 {
    font-size: 1.2rem;
  }

  .doc {
    margin: 3em 0;
    font-family: $heading-font-family, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;

    a {
      border: 1px solid white;
      border-radius: 3px;
      padding: 0.75em 0.7em;
      color: white;
      text-decoration: none;
      transition: color 0.1s linear;
      &:hover {
        background: rgba(0,0,0,0.2);
        color: white;
        transition: all 0.15s linear;
      }
    }
  }

  .welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
  }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  .content_wrapper {
    @include span-columns(10);
    @include shift(1);

    .date {
      text-align: center;
    }
  }
}

.footer {
  @include display(inline-block);
  @include size(100% 200px);
  width: 100%;
  background-image: url('/images/anna_hao_beach.jpg');
  background-position-y: 50%;
  background-size: cover;
  margin-bottom: -10px;
}
